@import "reset.css";

:root {
    --border-radius_zero: 0;
    --primary-text_color: #58626C;
    --bg_color: #A8DFF1;
}


html {
    font-size: 16px;
    position: relative;
}

body {
    background-color: var(--bg_color);
}

.main__container {
    width: 900px;
}

.main__container .nav-tabs {
    border: none;
}

.main__container .nav-tabs .nav-item.show .nav-link,
.main__container .nav-tabs .nav-link.active {
    color: var(--primary-text_color);
    border-radius: var(--border-radius_zero);
}
.main__container .nav-tabs .nav-link:focus,
.main__container .nav-tabs .nav-link:hover {
    border-radius: var(--border-radius_zero);
}

.main__container .nav-tabs .nav-link {
    border: none;
    border-radius: var(--border-radius_zero);
    color: #3D7C98;
    padding: 0.5rem 1rem;
}

.date-time__input {
    max-width: 11rem;
    border: none;
}

.select-category__input {
    max-width: 8rem;
    border: none;
}

input {
    color: var(--primary-text_color);
}

.text__input {
    max-width: 100%;
    width: 100%;
    text-align: left;
}

.text__output {
    text-align: left;
    word-break: break-all;
}

.date-time__output {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.form-select,
.form-control {
    border: none;
    border-radius: 0;
    color: var(--primary-text_color);
}

.select-category__input:hover,
.date-time__input:hover,
.select-category__input:focus,
.date-time__input:focus {
    outline: none;
    box-shadow: none;
    background-color: #73B0CD;
    color: #FFF;

}

.plus-icon {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    background-color: #73B0CD;
    border-radius: 50%;
    transition: 0.1s ease;
}

.plus-icon:hover {
    background-color: #39adff;
    filter: opacity(0.9);
    transform: scale(1.1);
}

.trash-icon {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    color: red;
    transition: 0.1s ease;
}

.trash-icon:hover {
    filter: opacity(0.6);
    transform: scale(1.2);
}

.list-item {
    transition: 0.1s ease;
}

.list-item:hover {
    transform: scale(1.02);
}